# =========================
# Unity generated folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# =========================
# Visual Studio / Rider
# =========================
.vs/
.idea/
.gradle/

*.csproj
*.sln
*.suo
*.user
*.userprefs
*.tmp
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db
*.pdb
*.mdb

# =========================
# OS junk
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# =========================
# Unity Cache / Generated
# =========================
**/[Pp]ackages/*/package-cache/

# Generated lighting data (optional, aman untuk solo)
**/LightingData.asset
**/LightmapSnapshot.asset

# =========================
# Asset Store tools (optional)
# =========================
Assets/AssetStoreTools*

